<div class="row">
  <aside class="span4">
  	<section>
  	  <h1>
  	  	<%=gravatar_for @employee %>
  	  	<%=@employee.name %>
  	  </h1>
  	  <%=@employee.email %>, <%=@employee.phone %>, <%=@employee.resume %>, <%=@employee.attachment %>
  	</section>
  </aside>
</div>

